@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
:root {
  --Very-Dark-Magenta: #502050;
  --Soft-Pink: #ee68a4;
  --Dark-Grayish-Magenta: #937b92;
  --Light-Grayish-Magenta: #f7f2f7;
  --White: #ffffff;
}
.empty {
  display: none;
}
img {
  max-width: 100%;
}
body {
  background-color: var(--White);
  height: 100vh;
  background-image: url(./images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
}
.wrapper {
  width: 100%;
  height: 100%;
  background-image: url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  padding: 100px 100px 60px 100px;
  width: 80%;
  height: auto;
  margin: auto;
}
.container .first-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.container .first-item .left {
  width: 40%;
}
.container .first-item .left h1 {
  color: var(--Very-Dark-Magenta);
  font-size: 42px;
  margin-bottom: 24px;
}
.container .first-item .left p {
  color: var(--Dark-Grayish-Magenta);
  /* padding-right: 50px; */
  line-height: 1.5;
  font-size: 17px;
  font-weight: 500;
}

.container .first-item .right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container .first-item .right .icon-container {
  /* width: 85%; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--Light-Grayish-Magenta);
  padding: 15px;
  border-radius: 10px;
}
.icon-container.one {
  position: relative;
  left: -100px;
}
.icon-container.two {
  position: relative;
  left: -50px;
}

.container .first-item .right .icon-container ul.icons {
  list-style: none;
}
.container .first-item .right .icon-container ul.icons li {
  display: inline-block;
  margin: 0 2px;
}
.container .first-item .right .icon-container p {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  font-size: 15px;
  padding-left: 30px;
}
.second-item {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 40px;
}
.second-item .component {
  background-color: #502050;
  width: 30%;
  padding: 30px;
  border-radius: 10px;
}

.component.two {
  position: relative;
  top: 15px;
}
.component.three {
  position: relative;
  top: 30px;
}
.second-item .component .heading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}
.second-item .component .heading figure {
  width: 45px;
  height: 45px;
  margin: 0 20px 0 0;
}
.second-item .component .heading figure img {
  border-radius: 50%;
}
.second-item .component .heading .headers {
  font-size: 10px;
}
.second-item .component .heading .headers h2.name {
  color: var(--White);
  margin-bottom: 5px;
}
.second-item .component .heading .headers h2.position {
  color: var(--Soft-Pink);
  font-weight: 400;
}
.second-item .component p {
  color: var(--White);
  font-size: 14px;
  line-height: 1.5;
}
footer {
  margin-top: 5px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 1290px) {
  body {
    height: 100%;
    margin-bottom: 20px;
  }
  .container {
    padding: 40px 0;
    width: 80%;
    height: auto;
    margin: auto;
  }
  .container .first-item {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    text-align: center;
  }
  .container .first-item .left {
    margin-bottom: 25px;
    width: 40%;
  }
  .container .first-item .right .icon-container {
    flex-direction: column;
    text-align: center;
  }
  .icon-container.one {
    position: relative;
    left: 0px;
    margin-bottom: 20px;
  }
  .icon-container.two {
    position: relative;
    left: 0px;
    margin-bottom: 20px;
  }
  .container .first-item .right .icon-container ul.icons {
    margin-bottom: 5px;
  }
  .container .first-item .right .icon-container p {
    padding-left: 0px;
  }
  .second-item {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
  }
  .second-item .component {
    width: 45%;
  }
}
@media (max-width: 757px) {
  .second-item .component {
    width: 100%;
  }
  .container .first-item .left {
    margin-bottom: 25px;
    width: 100%;
  }
  .container .first-item .right {
    margin-bottom: 25px;
    width: 100%;
  }
  body {
    background-image: url(./images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    background-image: url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
